*~
*.pyc

configs/mame/cfg
configs/mame/diff
configs/mame/nvram
configs/mame/snap
configs/mame/sta

configs/retroarch/content_history.lpl

configs/emulationstation/es_systems.cfg
configs/emulationstation/es_log.txt
configs/emulationstation/gamelists
configs/emulationstation/launchlinks
